<div>
  <h2 ng-show="editModel.existing && editMode" translate="pages.editUser.editTitle"></h2>
  <h2 ng-show="editModel.existing && !editMode" translate="pages.editUser.viewTitle"></h2>
  <h2 ng-show="!editModel.existing" translate="pages.editUser.newTitle"></h2>

  <form name="editForm" class="form-vertical" novalidate autocomplete="off" ng-submit>


    <div class="row">
      <div class="col-lg-4">
        <label class="control-label" translate="types.User.id"></label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <input class="form-control" username ng-model="editModel.id" id="edit_id" ng-disabled="false" type="text" ng-required="true"
            ng-if="!editModel.existing" min="2" max="40" />
          <input class="form-control" ng-model="editModel.id" id="edit_id" ng-disabled="true" type="text" ng-required="false"
            ng-if="editModel.existing" />
        </div>
      </div>
      <div class="col-lg-2 msg-block" ng-show="editForm.$error">
        <span class="msg-error" ng-show="editForm.$error.username" translate="messages.account.validation.username"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <label class="control-label" translate="types.User.name"></label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <input class="form-control" ng-model="editModel.name" id="name" type="text" ng-required="true" min="2" max="80"
            ng-disabled="!editMode" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <label class="control-label" translate="types.User.roles"></label>
      </div>
      <div class="col-lg-3">
        <select class="form-control" name="newRole" id="newRole" ng-model="newRole" ng-show="addNewRoleAvailable()"
          ng-options="role.description for role in roles() track by role.id"></select>
      </div>
      <div class="col-lg-1">
        <button class="btn btn-xs btn-primary flt-rt" ng-click="addNewRole()" ng-show="editMode" ng-disabled="!addNewRoleEnabled()"
          ng-if="addNewRoleAvailable()">
          <i class="glyphicon glyphicon-plus"></i><span translate="pages.editUser.addRole"></span>
        </button>
      </div>
    </div>
    <div class="row form-row" ng-if="editModel.roles.length < 1">
      <div class="col-lg-6">
        <span translate="pages.editUser.noRoles"></span>
      </div>
    </div>
    <div class="row form-row" ng-repeat="role in editModel.roles track by $index">
      <div class="col-lg-4">{{role.description}}</div>
      <div class="col-lg-2">
        <button class="btn btn-xs flt-rt" ng-click="removeRole(role)" ng-if="removeRoleEnabled(role)">
          <i class="glyphicon glyphicon-minus"></i> <span translate="actions.common.remove"></span>
        </button>
      </div>
    </div>

  </form>


</div>