<div>
  <h2 translate="pages.listStaff.title"></h2>

  <form name="searchForm" class="form-inline" novalidate autocomplete="off" ng-submit></form>

  <qn-paginate page-model="pageInfo" page-changed="pageChanged()" show-sizer="true"></qn-paginate>
  <qn-filter filter-model="pageInfo"filter-changed="pageChanged()"></qn-filter>

  <div class="table-responsive col-lg-12">
    <table class="table table-condensed table-striped table-hover">
      <thead>
        <tr>
          <th class="col-lg-3"><a ng-click="sortBy('name')" translate="types.Staff.name"></a></th>
          <th class="col-lg-3"><a ng-click="sortBy('expertiseLevel')" translate="types.Staff.expertiseLevel"></a></th>
          <th class="col-lg-3" translate="labels.common.actions"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="staff in pageInfo.items">
          <td class="col-lg-3">{{staff.name}}</td>
          <td class="col-lg-3">{{staff.expertiseLevel | translateEnum:'ExpertiseLevel'}}</td>
          <td class="col-lg-3">
            <button class="btn btn-sm btn-primary" ng-click="view(staff)"><i class="glyphicon glyphicon-eye-open"></i>  <span translate="actions.common.view"></span></button>
            <button class="btn btn-sm" ng-click="edit(staff)"><i class="glyphicon glyphicon-pencil"></i> <span translate="actions.common.edit"></span></button>
            <button class="btn btn-sm btn-danger" ng-click="remove(staff)"><i class="glyphicon glyphicon-trash"></i> <span translate="actions.common.delete"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <qn-paginate page-model="pageInfo" page-changed="pageChanged()"></qn-paginate>

</div>