<div>
  <h2 translate="pages.changePassword.labels.header"></h2>

  <form name="editForm" class="form-vertical" novalidate autocomplete="off" ng-submit>

    <div class="row">
      <div class="col-lg-4">
        <label class="control-label" translate="types.User.id"></label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <input  class="form-control" ng-model="user.id" id="edit_id" ng-disabled="true" type="text" ng-required="false" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <label class="control-label" translate="pages.changePassword.labels.currentPassword"></label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <input class="form-control" ng-model="existingUserPassword" id="existing_credentials" type="password" ng-required="true" min="6" max="80" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <label class="control-label" translate="pages.changePassword.labels.newPassword"></label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <input class="form-control" ng-model="newUserPassword" id="edit_credentials" type="password" ng-required="true" pw-check-old="existingUserPassword"
            pw-check-old-this="newUserPassword" min="6" max="80" />
        </div>
      </div>
      <div class="col-lg-2 msg-block" ng-show="editForm.$error">
        <span class="msg-error" ng-show="editForm.$error.pwCheckOld" translate="messages.account.changePassword.pwCheckOld"></span>
      </div>
    </div>

    <div class="row" ng-show="!editModel.existing">
      <div class="col-lg-4">
        <label class="control-label" translate="pages.changePassword.labels.confirmPassword"></label>
      </div>
    </div>
    <div class="row" ng-show="!editModel.existing">
      <div class="col-lg-6">
        <div class="form-group">
          <input class="form-control" ng-model="newUserPassword2" id="edit_credentials2" type="password" ng-required="true" pw-check="newUserPassword"
            pw-check-this="newUserPassword2" min="6" max="80" />
        </div>
      </div>
      <div class="col-lg-2 msg-block" ng-show="editForm.$error">
        <span class="msg-error" ng-show="editForm.$error.pwCheck" translate="messages.account.changePassword.pwCheck"> </span>
      </div>
    </div>

  </form>


</div>